<aside>
    <!-- Search-->
    <form action="#" class="search-form type-2">
        <input type="text" placeholder="Search for..." class="input-search" required="">
        <div class="submit-search">
            <input type="submit" value="">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="14px" height="14px">
                          <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" fill="#FFFFFF"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                     </svg>
        </div>
    </form>
</aside>
<div class="filter-open">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 54 54" style="enable-background:new 0 0 54 54;" xml:space="preserve">
                <g><path d="M1,9h3v4c0,0.553,0.447,1,1,1h12c0.553,0,1-0.447,1-1V9h35c0.553,0,1-0.447,1-1s-0.447-1-1-1H18V3c0-0.553-0.447-1-1-1H5
                C4.447,2,4,2.447,4,3v4H1C0.447,7,0,7.447,0,8S0.447,9,1,9z M6,4h10v8H6V4z"/>
                    <path d="M53,26H34v-4c0-0.553-0.447-1-1-1H21c-0.553,0-1,0.447-1,1v4H1c-0.553,0-1,0.447-1,1s0.447,1,1,1h19v4c0,0.553,0.447,1,1,1
                h12c0.553,0,1-0.447,1-1v-4h19c0.553,0,1-0.447,1-1S53.553,26,53,26z M32,31H22v-8h10V31z"/>
                    <path d="M53,45h-3v-4c0-0.553-0.447-1-1-1H37c-0.553,0-1,0.447-1,1v4H1c-0.553,0-1,0.447-1,1s0.447,1,1,1h35v4c0,0.553,0.447,1,1,1
                h12c0.553,0,1-0.447,1-1v-4h3c0.553,0,1-0.447,1-1S53.553,45,53,45z M48,50H38v-8h10V50z"/>
                </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
              </svg>
</div>
<div class="menu-filter">
    <div class="close-filter main-fill-col">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="18px" height="18px">
            <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
        </svg>
    </div>
    <!-- Categories -->
    <aside>
        <div class="empty-sm-65 empty-xs-65"></div>
        <h5 class="tt h5 color-2">Loại món ăn</h5>
        <div class="empty-sm-20 empty-xs-10"></div>
        <ul class="list-style-4 type-2 ul-list">
            <li><a href="/dishes?category=1" class="link-hover">Pizza <span>({{totalPizza}})</span></a></li>
            <li><a href="/dishes?category=2" class="link-hover">Thức uống  <span>({{totalDrink}})</span></a></li>
            <li><a href="/dishes?category=3" class="link-hover">Đồ ăn kèm  <span>({{totalSide}})</span></a></li>
        </ul>
    </aside>
    <aside>
        <div class="empty-sm-65 empty-xs-30"></div>
        <h5 class="tt h5 color-2">Giá tiền</h5>
        <div class="empty-sm-20 empty-xs-10"></div>
        <form action="/" class="input-range">
            <div class="slider-range" data-counter="$" data-position="start" data-from="0" data-to="1000000" data-min="0" data-max="1000000">
                <div class="range"></div>
                <div class="range-val flex-align">
                    <div class="range-title">
                        Price:
                    </div>
                    <span class="amount-start">0</span>
                    <span>-</span>
                    <span class="amount-end" value="1000000">1000000</span>
                </div>
            </div>
        </form>
    </aside>

    {{#if isPizzaCatActive}}
        <aside>
            <div class="empty-sm-65 empty-xs-30"></div>
            <h5 class="tt h5 color-2">Loại pizza</h5>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>Truyền thống</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>Hải sản</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>Thập cẩm</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
        </aside>

        <aside>
            <div class="empty-sm-65 empty-xs-30"></div>
            <h5 class="tt h5 color-2">Toppings</h5>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>Ớt chuông</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>Thịt heo</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>Nấm</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>Cải xà lách</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>Cà Chua</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>

        </aside>

        <aside>
            <div class="empty-sm-65 empty-xs-30"></div>
            <h5 class="tt h5 color-2">Size</h5>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>25cm (250g)</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>30cm (450g)</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>40cm (550g)</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
        </aside>
    {{/if}}

    {{#if isDrinkCatActive}}
        <aside>
            <div class="empty-sm-65 empty-xs-30"></div>
            <h5 class="tt h5 color-2">Size</h5>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>L</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>M</p>
                      </span>
                </label>
            </div>
        </aside>
    {{/if}}

    {{#if isSideCatActive}}
        <aside>
            <div class="empty-sm-65 empty-xs-30"></div>
            <h5 class="tt h5 color-2">Size</h5>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>1 Người Ăn</p>
                      </span>
                </label>
            </div>
            <div class="empty-sm-20 empty-xs-10"></div>
            <div class="checkbox-entry-wrap type-1">
                <label class="checkbox-entry">
                    <input type="checkbox" checked>
                    <span>
                        <i></i>
                        <p>2 Người Ăn</p>
                      </span>
                </label>
            </div>
        </aside>
    {{/if}}

</div>
<div class="empty-md-0 empty-sm-30 empty-xs-30"></div>