<div id="login-alert-popup" class="popup index-popup-alert" data-rel="10">
    <div class="popup-wrap popup-layer">
        <div class="empty-sm-0 empty-xs-15"></div>
        <div class="container size-1">
            <div class="popup-inner">
                <div class="close-popup type-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                        <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#484848"/>
                    </svg>
                </div>
                <div class="main-caption text-center color-type-2">
                    <h2 class="title h2 ">Notification</h2>
                </div>

                <div class="empty-sm-30 empty-xs-30"></div>

                <div class="main-caption text-center color-type-2">
                    <h4 class="h4">You need to login or register to continue</h4>
                </div>

                <div class="empty-sm-30 empty-xs-30"></div>
                <div class="popup-follow text-center open-popup" data-open="popup-login" data-rel="3">
                    <a href="#" class="button size-2 style-2">
                            <span class="button-wrapper">
                                <span class="icon"><img src="img/icon-4.png" alt=""></span>
                                <span class="text">Login</span>
                            </span>
                    </a>

                    <a href="#" class="button size-2 style-3 open-popup" data-open="popup-register" data-rel="4">
                            <span class="button-wrapper">
                                <span class="icon"><img src="img/icon-4.png" alt=""></span>
                                <span class="text">Register</span>
                            </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>