<div class="popup index-popup-gallery" data-rel="1">
    <div class="popup-wrap type-2">
        <div class="empty-sm-0 empty-xs-15"></div>
        <div class="container quick-wrapp">
            <div class="close-popup type-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                    <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#484848"/>
                </svg>
            </div>
            <div class="row left-right-item">
                <div class="col-md-6 col-xs-12">
                    <img src="/img/shop/pop-up.png" alt="" class="full-img">
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="quick-content">
                        <div class="empty-sm-0 empty-xs-30"></div>
                        <aside>
                            <div class="empty-sm-20 empty-xs-20"></div>
                            <h4 class="h3 sm tt color-2">Mediterranean Shrimp Pizza</h4>
                            <div class="empty-sm-20 empty-xs-20"></div>
                            <h5 class="h5 sm color-2">Price: <span class="h4 main-col"><b>$8.40</b></span></h5>
                        </aside>
                        <div class="empty-sm-20 empty-xs-20"></div>
                        <aside class="product-size">
                            <h5 class="h5 sm color-2 inline-box">Size:</h5>
                            <div class="checkbox-entry-wrap">
                                <label class="checkbox-entry">
                                    <input type="radio" name="1" checked="">
                                    <span>
                            <i></i>
                            <p>25cm <span>(250g)</span></p>
                          </span>
                                </label>
                            </div>
                            <div class="checkbox-entry-wrap">
                                <label class="checkbox-entry">
                                    <input type="radio" name="1">
                                    <span>
                            <i></i>
                            <p>30cm <span>(450g)</span></p>
                          </span>
                                </label>
                            </div>
                            <div class="checkbox-entry-wrap">
                                <label class="checkbox-entry">
                                    <input type="radio" name="1">
                                    <span>
                            <i></i>
                            <p>40cm <span>(550g)</span></p>
                          </span>
                                </label>
                            </div>
                        </aside>

                        <aside class="product-size">
                            <h5 class="h5 sm color-2 inline-box">Đế bánh</h5>
                            <div class="checkbox-entry-wrap">
                                <label class="checkbox-entry">
                                    <input type="radio" name="2" checked="">
                                    <span>
                      <i></i>
                      <p>Mỏng </p>
                    </span>
                                </label>
                            </div>
                            <div class="checkbox-entry-wrap">
                                <label class="checkbox-entry">
                                    <input type="radio" name="2">
                                    <span>
                      <i></i>
                      <p>Dày</p>
                    </span>
                                </label>
                            </div>

                        </aside>

                        <div class="empty-sm-25 empty-xs-20"></div>
                        <aside>


                            <div class="simple-text">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat null eiusmod tempor incididunt ut labore tore veritatis </p>
                            </div>
                        </aside>
                        <div class="empty-sm-25 empty-xs-20"></div>
                        <aside>
                            <h5 class="tt h5 sm color-2">Chọn Toping:</h5>
                            <div class="empty-sm-25 empty-xs-15"></div>
                            <div class="arrow-closest item-padd-30">
                                <div class="swiper-container checkbox-wrapp" data-mode="horizontal" data-effect="slide" data-add-slides="3" data-slides-per-view="responsive" data-lg-slides="3" data-md-slides="3" data-xs-slides="2" data-sm-slides="4" data-loop="0" data-speed="800" data-space="13">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" >
                                            <div class="checkbox-entry-wrap ">
                                                <label class="checkbox-entry">
                                                    <input type="checkbox" checked="">
                                                    <div class="content-check">
                                                        <img src="/img/product-detail/сhoose-1.jpg" alt="" class="full-img">
                                                        <div class="empty-sm-10 empty-xs-10"></div>
                                                        <div class="simple-text">
                                                            <p><b>Peperoni</b></p>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" >
                                            <div class="checkbox-entry-wrap ">
                                                <label class="checkbox-entry">
                                                    <input type="checkbox" checked="">
                                                    <div class="content-check">
                                                        <img src="/img/product-detail/сhoose-2.jpg" alt="" class="full-img">
                                                        <div class="empty-sm-10 empty-xs-10"></div>
                                                        <div class="simple-text">
                                                            <p><b>Ham</b></p>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" >
                                            <div class="checkbox-entry-wrap ">
                                                <label class="checkbox-entry">
                                                    <input type="checkbox">
                                                    <div class="content-check">
                                                        <img src="/img/product-detail/сhoose-3.jpg" alt="" class="full-img">
                                                        <div class="empty-sm-10 empty-xs-10"></div>
                                                        <div class="simple-text">
                                                            <p><b>Mashrooms</b></p>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" >
                                            <div class="checkbox-entry-wrap ">
                                                <label class="checkbox-entry">
                                                    <input type="checkbox">
                                                    <div class="content-check">
                                                        <img src="/img/product-detail/сhoose-4.jpg" alt="" class="full-img">
                                                        <div class="empty-sm-10 empty-xs-10"></div>
                                                        <div class="simple-text">
                                                            <p><b>Ruccola</b></p>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-arrow-left swiper-arrow type-3 style-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="19px" height="19px">
                                        <g>
                                            <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z" fill="#FFFFFF"/>
                                        </g>
                                    </svg>
                                </div>
                                <div class="swiper-arrow-right swiper-arrow type-3 style-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="19px" height="19px">
                                        <g>
                                            <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" fill="#FFFFFF"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </aside>
                        <div class="empty-sm-40 empty-xs-25"></div>
                        <aside>
                            <div class="buy-bar type-2">
                                <div class="fl">
                                    <h5 class="h5 sm follow-title quntity">Quantity:</h5>
                                    <div class="custom-input-number type-2">
                                        <button type="button" class="cin-btn cin-decrement">
                                            <img src="/img/left_arr.png" alt="">
                                        </button>
                                        <input type="number" class="cin-input input-field" step="1" value="1" min="0" max="1000">
                                        <button type="button" class="cin-btn cin-increment">
                                            <img src="/img/right_arr.png" alt="">
                                        </button>
                                    </div>
                                    <div class="empty-sm-0 empty-xs-15"></div>
                                </div>
                                <div class="fr">
                                    <a href="#" class="page-button button-style-1 type-2"><span class="txt">Add to cart</span></a>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-sm-0 empty-xs-15"></div>
    </div>
</div>