<div class="shop-filter">
    <div class="found-items">
        <div class="simple-text">
            <p>Found <span class="main-col"><b>27</b></span> items</p>
        </div>
    </div>
    <div class="shop-select">
        <div class="show-item">
            <div class="title-select">
                <div class="simple-text">
                    <p>Shown items per page</p>
                </div>
            </div>
            <select class="input-field type-2 main-col">
                <option value="val1">10</option>
                <option value="val1">40</option>
                <option value="val1">25</option>
                <option value="val1">38</option>
            </select>
        </div>
        <div class="sort-by">
            <div class="title-select">
                <div class="simple-text">
                    <p>Sort by</p>
                </div>
            </div>
            <select class="input-field type-2 main-col">
                <option value="val1">Date</option>
                <option value="val1">Name</option>
                <option value="val1">High Price</option>
                <option value="val1">Low Price</option>
            </select>
        </div>
        <ul class="item-tabs type-2">
            <li class="active">
                <a href="#" class="view-1">
                    <span class="point-1"></span>
                    <span class="point-2"></span>
                    <span class="point-3"></span>
                </a>
            </li>
            <li>
                <a href="#" class="view-2">
                    <span class="point-1"></span>
                    <span class="point-2"></span>
                    <span class="point-3"></span>
                </a>
            </li>
        </ul>
    </div>
</div>