
<section class="section">
    <div class="empty-lg-115 empty-md-100 empty-sm-60 empty-xs-60"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="main-caption text-center color-type-2">
                    <h2 class="h2 title">Change password</h2>
                    <div class="empty-sm-55 empty-xs-25"></div>
                    <form action="/user/change-password" method="post" id="change-password-form">
                        <div class="col-md-12">
                            <div class="input-field-icon">
                                <input type="password" class="input-field" placeholder="Old password*" name="oldPassword" id="old-password" required="">
                                <div class="icon">
                                    <i class="fa fa-user-lock"></i>
                                </div>
                            </div>
                            <div class="empty-sm-20  empty-xs-20"></div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-field-icon">
                                <input type="password" class="input-field" placeholder="New password*" name="newPassword" id="new-password" required="">
                                <div class="icon">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="empty-sm-20  empty-xs-20"></div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-field-icon">
                                <input type="password" class="input-field" placeholder="Retype new password*" name="retype" id="retype-newPassword" required="">
                                <div class="icon">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="empty-sm-20  empty-xs-20"></div>
                        </div>

                        <div class="col-md-12 simple-text  text-center xs forgot" style="color: red;">
                            <div id="empty-password"></div>
                            <div id="check-password-result"><h5 id="check-password-content" class="validation-content"></h5></div>
                        </div>

                        <div class="empty-sm-30  empty-xs-20"></div>
                        <div class="page-button button-style-1 type-2">
                            <input onclick="checkPassWord('{{user.username}}')">
                            <span class="txt">change</span><i></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="empty-lg-100 empty-md-100 empty-sm-60 empty-xs-60"></div>
    </div>
</section>
</div>