<!DOCTYPE html>
<html>

{{> __head__}}

<body class="page-color-style-4 page-style-4">

{{> preloader}}

{{> colorPicker}}

{{> header}}

<div class="main-content">
    {{{body}}}
</div>

{{> footer}}

{{> quickView}}

{{> loginAlert}}

{{> signIn}}

{{> signUp}}


{{> __script__}}

</body>
</html>