
    <section class="full-height-slider type-1">
        <div class="bg ready data-jarallax" data-jarallax="5" style="background-image: url(img/about/main-baner-bg.jpg)" data-swiper-parallax="50%"></div>
        <div class="table-view mobile-rel-block">
            <div class="table-cell">
                <div class="container no-padd">
                    <div class="row vertical-wrap">
                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                            <div class="simple-item color-type-1 text-center">
                                <div class="main-title">
                                    <h1 class="h2 title">About Us</h1>
                                    <div class="empty-sm-30"></div>
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="simple-text md">
                                            <p>Giới thiệu thông tin trang web và nhà phát triển.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="empty-lg-140 empty-md-100 empty-sm-60 empty-xs-60"></div>
        <div class="container">
            <div class="row left-right-item">
                <div class="col-md-6">
                    <div class="simple-item-style-2 simple-item text-center">
                        <div class="line-sepp"></div>
                        <div class="empty-sm-10"></div>
                        <h2 class="h2">20 Years of Recognition</h2>
                        <div class="empty-sm-20 empty-xs-20"></div>
                        <div class="box-padd">
                            <div class="simple-text md simple-sub-text opacity-1">
                                <p>Thương hiệu của chúng tôi được phát triển xuyên suốt 20 năm qua</p>
                            </div>
                            <div class="empty-sm-35 empty-xs-20"></div>
                            <div class="simple-text">
                                <p>Pizzone là tên một chuỗi nhà hàng pizza Mỹ và cũng là tên công ty nhượng quyền kinh doanh quốc tế có trụ sở tại Domino Farms Office Park (hội sở thuộc sở hữu của nhà đồng sáng lập Domino's Pizza Tom Monaghan) tại xã Ann Arbor, Quận Washtenaw, Michigan, Hoa Kỳ, gần Ann Arbor, Michigan. Được thành lập năm 2000</p>
                            </div>
                            <div class="empty-sm-25 empty-xs-20"></div>
                            <div class="simple-text">
                                <p>Pizzone là chuỗi nhà hàng pizza lớn thứ hai Hoa Kỳ (sau Pizza Hut) nhưng lớn nhất thế giới với hơn 10.000 cửa tiệm thành viên và nhượng quyền tại 70 quốc gia. Domino's Pizza được bán cho Bain Capital năm 1998 và ra công chúng năm 2004.</p>
                            </div>
                        </div>
                    </div>
                    <div class="empty-md-0 empty-sm-30 empty-xs-30"></div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">

                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="img/about/recognition-1.jpg" alt="" class="full-img">
                                </div>
                                <div class="empty-sm-30 empty-xs-30"></div>
                                <div class="col-sm-12">
                                    <div class="wrapp-border">
                                        <span class="page-span-5 page-span left"></span>
                                        <img src="img/about/recognition-2.jpg" alt="" class="full-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="wrapp-border">
                                <span class="page-span-6 page-span right"></span>
                                <img src="img/about/recognition-3.jpg" alt="" class="full-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-lg-140 empty-md-100 empty-sm-60 empty-xs-60"></div>
    </section>

    <section class="section">
        <div class="empty-lg-140 empty-md-100 empty-sm-60 empty-xs-60"></div>
        <div class="bg fix" style="background-image: url(img/about/baner-2-bg.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <div class="box-item">
                        <div class="empty-lg-70 empty-md-60 empty-sm-60 empty-xs-40"></div>
                        <div class="main-caption text-center color-type-2">
                            <span class="h2 title main-col">Our customers are</span>
                            <div class="empty-sm-10 empty-xs-10"></div>
                            <h3 class="h3">always happy</h3>
                            <div class="empty-sm-15 empty-xs-10"></div>
                            <div class="simple-text md simple-sub-text">
                                <p>Chúng tôi luôn luôn muốn mang dịch vụ tốt nhất cho mọi người.</p>
                            </div>
                            <div class="empty-sm-35 empty-xs-25"></div>
                            <div class="simple-text">
                                <p>Sự hài lòng của quý khách hàng là niềm vui của chúng tôi. Chúng tôi luôn nổ lực để đưa tới cho quý khách hàng dịch vụ tốt nhất và uy tính nhất. Xin cảm ơn quý khách hàng đã tin yêu và sử dụng dịch vụ của chúng tôi. Xin chân thành kính cảm ơn.</p>
                            </div>
                            <div class="empty-lg-90 empty-md-60 empty-sm-60 empty-xs-40"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-lg-140 empty-md-100 empty-sm-60 empty-xs-60"></div>
    </section>

    <section class="section our-team">
        <div class="empty-lg-140 empty-md-100 empty-sm-60 empty-xs-60"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <div class="simple-item-style-2 simple-item color-type-2 text-center">
                        <div class="line-sepp"></div>
                        <div class="empty-sm-10"></div>
                        <h2 class="h2 title">Thành viên phát triển</h2>
                        <div class="box-padd">
                            <div class="simple-text md simple-sub-text">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-md-70 empty-sm-50 empty-xs-30"></div>
            <div class="swiper-container checkbox-wrapp" data-mode="horizontal" data-effect="slide" data-add-slides="5" data-slides-per-view="responsive" data-lg-slides="5" data-md-slides="3" data-sm-slides="3" data-xs-slides="1" data-loop="0" data-speed="800" data-space="20" data-center="1">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" >
                        <div class="team-item page-style-6">
                            <div class="simple-item text-center">
                                <h4 class="h4">Quốc Thuận Trương</h4>
                                <div class="empty-sm-10 empty-xs-10"></div>
                                <div class="proff">18120583</div>
                                <div class="empty-sm-30 empty-xs-30"></div>
                                <img src="img/about/cook-3.png" alt="" class="full-img">
                                <div class="empty-sm-15 empty-xs-15"></div>
                                <div class="simple-text">
                                    <p></p>
                                </div>
                                <div class="empty-sm-20 empty-xs-20"></div>
                                <div class="follow follow-style-1 sm">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 155.139 155.139" style="enable-background:new 0 0 155.139 155.139;" xml:space="preserve" width="16px" height="16px"><g>
                            <path id="f_1_" d="M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184   c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452   v20.341H37.29v27.585h23.814v70.761H89.584z" fill="#FFFFFF"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                        </svg>
                                    </a>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve" width="16px" height="16px">
                        <g id="XMLID_826_">
                            <path id="XMLID_827_" d="M302.973,57.388c-4.87,2.16-9.877,3.983-14.993,5.463c6.057-6.85,10.675-14.91,13.494-23.73   c0.632-1.977-0.023-4.141-1.648-5.434c-1.623-1.294-3.878-1.449-5.665-0.39c-10.865,6.444-22.587,11.075-34.878,13.783   c-12.381-12.098-29.197-18.983-46.581-18.983c-36.695,0-66.549,29.853-66.549,66.547c0,2.89,0.183,5.764,0.545,8.598   C101.163,99.244,58.83,76.863,29.76,41.204c-1.036-1.271-2.632-1.956-4.266-1.825c-1.635,0.128-3.104,1.05-3.93,2.467   c-5.896,10.117-9.013,21.688-9.013,33.461c0,16.035,5.725,31.249,15.838,43.137c-3.075-1.065-6.059-2.396-8.907-3.977   c-1.529-0.851-3.395-0.838-4.914,0.033c-1.52,0.871-2.473,2.473-2.513,4.224c-0.007,0.295-0.007,0.59-0.007,0.889   c0,23.935,12.882,45.484,32.577,57.229c-1.692-0.169-3.383-0.414-5.063-0.735c-1.732-0.331-3.513,0.276-4.681,1.597   c-1.17,1.32-1.557,3.16-1.018,4.84c7.29,22.76,26.059,39.501,48.749,44.605c-18.819,11.787-40.34,17.961-62.932,17.961   c-4.714,0-9.455-0.277-14.095-0.826c-2.305-0.274-4.509,1.087-5.294,3.279c-0.785,2.193,0.047,4.638,2.008,5.895   c29.023,18.609,62.582,28.445,97.047,28.445c67.754,0,110.139-31.95,133.764-58.753c29.46-33.421,46.356-77.658,46.356-121.367   c0-1.826-0.028-3.67-0.084-5.508c11.623-8.757,21.63-19.355,29.773-31.536c1.237-1.85,1.103-4.295-0.33-5.998   C307.394,57.037,305.009,56.486,302.973,57.388z" fill="#FFFFFF"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </a>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 604.35 604.35" style="enable-background:new 0 0 604.35 604.35;" xml:space="preserve">
                            <g><g id="google-plus"><path d="M516.375,255v-76.5h-51V255h-76.5v51h76.5v76.5h51V306h76.5v-51H516.375z M320.025,341.7l-28.051-20.4    c-10.2-7.649-20.399-17.85-20.399-35.7s12.75-33.15,25.5-40.8c33.15-25.5,66.3-53.55,66.3-109.65c0-53.55-33.15-84.15-51-99.45    h43.35l30.6-35.7h-158.1c-112.2,0-168.3,71.4-168.3,147.9c0,58.65,45.9,122.4,127.5,122.4h20.4c-2.55,7.65-10.2,20.4-10.2,33.15    c0,25.5,10.2,35.7,22.95,51c-35.7,2.55-102,10.2-150.45,40.8c-45.9,28.05-58.65,66.3-58.65,94.35    c0,58.65,53.55,114.75,168.3,114.75c137.7,0,204.001-76.5,204.001-150.449C383.775,400.35,355.725,372.3,320.025,341.7z     M126.225,109.65c0-56.1,33.15-81.6,68.85-81.6c66.3,0,102,89.25,102,140.25c0,66.3-53.55,79.05-73.95,79.05    C159.375,247.35,126.225,168.3,126.225,109.65z M218.024,568.65c-84.15,0-137.7-38.25-137.7-94.351c0-56.1,51-73.95,66.3-81.6    c33.15-10.2,76.5-12.75,84.15-12.75s12.75,0,17.85,0c61.2,43.35,86.7,61.2,86.7,102C335.324,530.4,286.875,568.65,218.024,568.65z    " fill="#FFFFFF"></path>
                            </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide" >
                        <div class="team-item page-style-6">
                            <div class="simple-item text-center">
                                <h4 class="h4">Lê Nhật Tuấn</h4>
                                <div class="empty-sm-10 empty-xs-10"></div>
                                <div class="proff">18120632</div>
                                <div class="empty-sm-30 empty-xs-30"></div>
                                <img src="img/about/cook-1.png" alt="" class="full-img">
                                <div class="empty-sm-15 empty-xs-15"></div>
                                <div class="simple-text">
                                    <p></p>
                                </div>
                                <div class="empty-sm-20 empty-xs-20"></div>
                                <div class="follow follow-style-1 sm">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 155.139 155.139" style="enable-background:new 0 0 155.139 155.139;" xml:space="preserve" width="16px" height="16px"><g>
                            <path id="f_1_" d="M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184   c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452   v20.341H37.29v27.585h23.814v70.761H89.584z" fill="#FFFFFF"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                        </svg>
                                    </a>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve" width="16px" height="16px">
                        <g id="XMLID_826_">
                            <path id="XMLID_827_" d="M302.973,57.388c-4.87,2.16-9.877,3.983-14.993,5.463c6.057-6.85,10.675-14.91,13.494-23.73   c0.632-1.977-0.023-4.141-1.648-5.434c-1.623-1.294-3.878-1.449-5.665-0.39c-10.865,6.444-22.587,11.075-34.878,13.783   c-12.381-12.098-29.197-18.983-46.581-18.983c-36.695,0-66.549,29.853-66.549,66.547c0,2.89,0.183,5.764,0.545,8.598   C101.163,99.244,58.83,76.863,29.76,41.204c-1.036-1.271-2.632-1.956-4.266-1.825c-1.635,0.128-3.104,1.05-3.93,2.467   c-5.896,10.117-9.013,21.688-9.013,33.461c0,16.035,5.725,31.249,15.838,43.137c-3.075-1.065-6.059-2.396-8.907-3.977   c-1.529-0.851-3.395-0.838-4.914,0.033c-1.52,0.871-2.473,2.473-2.513,4.224c-0.007,0.295-0.007,0.59-0.007,0.889   c0,23.935,12.882,45.484,32.577,57.229c-1.692-0.169-3.383-0.414-5.063-0.735c-1.732-0.331-3.513,0.276-4.681,1.597   c-1.17,1.32-1.557,3.16-1.018,4.84c7.29,22.76,26.059,39.501,48.749,44.605c-18.819,11.787-40.34,17.961-62.932,17.961   c-4.714,0-9.455-0.277-14.095-0.826c-2.305-0.274-4.509,1.087-5.294,3.279c-0.785,2.193,0.047,4.638,2.008,5.895   c29.023,18.609,62.582,28.445,97.047,28.445c67.754,0,110.139-31.95,133.764-58.753c29.46-33.421,46.356-77.658,46.356-121.367   c0-1.826-0.028-3.67-0.084-5.508c11.623-8.757,21.63-19.355,29.773-31.536c1.237-1.85,1.103-4.295-0.33-5.998   C307.394,57.037,305.009,56.486,302.973,57.388z" fill="#FFFFFF"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </a>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 604.35 604.35" style="enable-background:new 0 0 604.35 604.35;" xml:space="preserve">
                            <g><g id="google-plus"><path d="M516.375,255v-76.5h-51V255h-76.5v51h76.5v76.5h51V306h76.5v-51H516.375z M320.025,341.7l-28.051-20.4    c-10.2-7.649-20.399-17.85-20.399-35.7s12.75-33.15,25.5-40.8c33.15-25.5,66.3-53.55,66.3-109.65c0-53.55-33.15-84.15-51-99.45    h43.35l30.6-35.7h-158.1c-112.2,0-168.3,71.4-168.3,147.9c0,58.65,45.9,122.4,127.5,122.4h20.4c-2.55,7.65-10.2,20.4-10.2,33.15    c0,25.5,10.2,35.7,22.95,51c-35.7,2.55-102,10.2-150.45,40.8c-45.9,28.05-58.65,66.3-58.65,94.35    c0,58.65,53.55,114.75,168.3,114.75c137.7,0,204.001-76.5,204.001-150.449C383.775,400.35,355.725,372.3,320.025,341.7z     M126.225,109.65c0-56.1,33.15-81.6,68.85-81.6c66.3,0,102,89.25,102,140.25c0,66.3-53.55,79.05-73.95,79.05    C159.375,247.35,126.225,168.3,126.225,109.65z M218.024,568.65c-84.15,0-137.7-38.25-137.7-94.351c0-56.1,51-73.95,66.3-81.6    c33.15-10.2,76.5-12.75,84.15-12.75s12.75,0,17.85,0c61.2,43.35,86.7,61.2,86.7,102C335.324,530.4,286.875,568.65,218.024,568.65z    " fill="#FFFFFF"></path>
                            </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="empty-lg-120 empty-md-100 empty-sm-60 empty-xs-60"></div>
    </section>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <div class="simple-item-style-2 simple-item color-type-2 text-center">
                        <div class="line-sepp"></div>
                        <div class="empty-sm-10"></div>
                        <h2 class="h2 title">Thư viện ảnh</h2>
                        <div class="box-padd">
                            <div class="simple-text md simple-sub-text">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-sm-70 empty-xs-20"></div>
        <div class="container-fluid no-padd no-padd-sm">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="menu-item menu-item-2 color-type-1">
                        <div class="image hover-zoom">
                            <img src="img/about/food-image-1.jpg" alt="">
                            <div class="vertical-align full menu-button">
                                <h5 class="h5 caption"><a href="#" class="link-hover-line open-popup" data-open="popup-gallery"></a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="menu-item menu-item-2 color-type-1">
                        <div class="image hover-zoom">
                            <img src="img/about/food-image-2.jpg" alt="">
                            <div class="vertical-align full menu-button">
                                <h5 class="h5 caption"><a href="#" class="link-hover-line open-popup" data-open="popup-gallery"></a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="menu-item menu-item-2 color-type-1">
                        <div class="image hover-zoom">
                            <img src="img/about/food-image-3.jpg" alt="">
                            <div class="vertical-align full menu-button">
                                <h5 class="h5 caption"><a href="#" class="link-hover-line open-popup" data-open="popup-gallery"></a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="menu-item menu-item-2 color-type-1">
                        <div class="image hover-zoom">
                            <img src="img/about/food-image-4.jpg" alt="">
                            <div class="vertical-align full menu-button">
                                <h5 class="h5 caption"><a href="#" class="link-hover-line open-popup" data-open="popup-gallery"></a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="menu-item menu-item-2 color-type-1">
                        <div class="image hover-zoom">
                            <img src="img/about/food-image-5.jpg" alt="">
                            <div class="vertical-align full menu-button">
                                <h5 class="h5 caption"><a href="#" class="link-hover-line open-popup" data-open="popup-gallery"></a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="menu-item menu-item-2 color-type-1">
                        <div class="image hover-zoom">
                            <img src="img/about/food-image-6.jpg" alt="">
                            <div class="vertical-align full menu-button">
                                <h5 class="h5 caption"><a href="#" class="link-hover-line open-popup" data-open="popup-gallery"></a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

