    <section class="full-height-slider type-1">
        <div class="bg ready data-jarallax" data-jarallax="5" style="background-image: url(img/contacts/main-baner-bg.jpg)" data-swiper-parallax="50%"></div>
        <div class="table-view mobile-rel-block">
            <div class="table-cell">
                <div class="container no-padd">
                    <div class="row vertical-wrap">
                        <div class="col-lg-6 col-lg-offset-3 col-sm-12">
                            <div class="simple-item color-type-1 text-center">
                                <div class="main-title">
                                    <h1 class="h2 title">Our Contacts</h1>
                                    <div class="empty-sm-30"></div>
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="simple-text md">
                                            <p>Sau đây là các cách thức để liên lạc với chúng tôi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="location-bottom type-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="empty-sm-70 empty-xs-30"></div>
                                <div class="text-center color-type-3">
                                    <div class="contact-icon">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.192 512.192" width="65px" height="65px" style="enable-background:new 0 0 512.192 512.192;" xml:space="preserve">
                    <g><g><g>
                      <path d="M440.805,386.456l-60.907-47.467c-17.173-13.44-41.173-13.333-58.24,0.213l-13.547,10.667
                        c-10.24,8.107-24.96,7.253-34.24-2.027l-108.907-109.12c-9.28-9.28-10.133-24.107-2.027-34.453l10.667-13.547
                        c13.547-17.067,13.547-41.173,0.213-58.24l-47.36-61.013c-8.32-10.667-20.8-17.28-34.347-18.133
                        c-13.44-0.747-26.667,4.267-36.267,13.76l-38.827,38.933c-21.653,21.653-52.907,90.987,122.773,266.987
                        c114.453,114.773,184.32,138.88,222.72,138.88c23.147,0,36.587-8.533,43.733-15.787l38.933-38.933
                        c18.453-18.453,18.347-48.427-0.107-66.88C443.685,388.909,442.298,387.629,440.805,386.456z M432.165,440.216
                        c-0.747,0.853-1.387,1.6-2.133,2.347l-38.933,38.933c-4.267,4.373-12.8,9.493-28.693,9.493
                        c-28.16,0-92.587-17.173-207.68-132.587c-132.48-132.8-148.907-210.56-122.667-236.8l38.933-39.04
                        c4.8-4.8,11.307-7.573,18.24-7.573c0.533,0,1.067,0,1.6,0c7.36,0.427,14.187,4.053,18.773,9.92l47.36,61.013
                        c7.36,9.387,7.253,22.613-0.107,32l-10.667,13.547c-14.827,18.773-13.227,45.653,3.627,62.72l108.907,109.227
                        c16.96,16.96,43.84,18.56,62.613,3.627l13.547-10.667c9.28-7.36,22.507-7.467,31.893-0.107l60.907,47.467
                        C438.992,412.589,441.018,428.909,432.165,440.216z"></path>
                      <path d="M509.072,3.416c-4.16-4.16-10.88-4.16-15.04,0L288.165,209.282v-91.2c0-5.333-3.84-10.133-9.067-10.88
                        c-6.613-0.96-12.267,4.16-12.267,10.56v117.333c0,5.867,4.8,10.667,10.667,10.667h106.347c5.333,0,10.133-3.84,10.88-9.067
                        c0.96-6.613-4.16-12.267-10.56-12.267h-80.96L509.072,18.562C513.232,14.402,513.232,7.576,509.072,3.416z"></path>
                      </g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
                                    </div>
                                    <div class="empty-sm-15 empty-xs-10"></div>
                                    <h4 class="h4 tt color-type-3">Call us</h4>
                                    <div class="empty-sm-20 empty-xs-10"></div>
                                    <div class="simple-text contact color-2">
                                        <a href="tel:3805623157851" class="link-hover">+38 056 23 15 7851</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="empty-sm-70 empty-xs-30"></div>
                                <div class="text-center color-type-3">
                                    <div class="contact-icon">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 491.582 491.582" style="enable-background:new 0 0 491.582 491.582;" xml:space="preserve">
                    <g><g>
                      <path d="M245.791,0C153.799,0,78.957,74.841,78.957,166.833c0,36.967,21.764,93.187,68.493,176.926
                      c31.887,57.138,63.627,105.4,64.966,107.433l22.941,34.773c2.313,3.507,6.232,5.617,10.434,5.617s8.121-2.11,10.434-5.617
                      l22.94-34.771c1.326-2.01,32.835-49.855,64.967-107.435c46.729-83.735,68.493-139.955,68.493-176.926
                      C412.625,74.841,337.783,0,245.791,0z M322.302,331.576c-31.685,56.775-62.696,103.869-64.003,105.848l-12.508,18.959
                      l-12.504-18.954c-1.314-1.995-32.563-49.511-64.007-105.853c-43.345-77.676-65.323-133.104-65.323-164.743
                      C103.957,88.626,167.583,25,245.791,25s141.834,63.626,141.834,141.833C387.625,198.476,365.647,253.902,322.302,331.576z"></path>
                      <path d="M245.791,73.291c-51.005,0-92.5,41.496-92.5,92.5s41.495,92.5,92.5,92.5s92.5-41.496,92.5-92.5
                      S296.796,73.291,245.791,73.291z M245.791,233.291c-37.22,0-67.5-30.28-67.5-67.5s30.28-67.5,67.5-67.5
                      c37.221,0,67.5,30.28,67.5,67.5S283.012,233.291,245.791,233.291z"></path>
                    </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
                                    </div>
                                    <div class="empty-sm-15 empty-xs-10"></div>
                                    <h4 class="h4 tt color-type-3">FIND us</h4>
                                    <div class="empty-sm-20 empty-xs-10"></div>
                                    <div class="simple-text color-2 contact">
                                        <p>150 Duffy Ave, Hicksville, NY 11801, USA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="empty-sm-70 empty-xs-30"></div>
                                <div class="text-center color-type-3">
                                    <div class="contact-icon">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="65px" height="65px" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 44 44">
                                            <g><g><g>
                                                <path d="M43,6H1C0.447,6,0,6.447,0,7v30c0,0.553,0.447,1,1,1h42c0.552,0,1-0.447,1-1V7C44,6.447,43.552,6,43,6z M42,33.581     L29.612,21.194l-1.414,1.414L41.59,36H2.41l13.392-13.392l-1.414-1.414L2,33.581V8h40V33.581z"></path>
                                            </g></g><g><g>
                                                <path d="M39.979,8L22,25.979L4.021,8H2v0.807L21.293,28.1c0.391,0.391,1.023,0.391,1.414,0L42,8.807V8H39.979z"></path>
                                            </g></g></g>
                                        </svg>
                                    </div>
                                    <div class="empty-sm-15 empty-xs-10"></div>
                                    <h4 class="h4 tt color-type-3">MAIL us</h4>
                                    <div class="empty-sm-20 empty-xs-10"></div>
                                    <div class="simple-text contact color-2">
                                        <a href="mailto:delice.info@mail.com" class="link-hover">pizzone.info@mail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="empty-lg-120 empty-md-100 empty-sm-60 empty-xs-60"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <div class="main-caption text-center color-type-2">
                        <h2 class="h2 title">Giờ làm việc</h2>
                        <div class="empty-sm-5 empty-xs-5"></div>
                        <div class="simple-text md simple-sub-text">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <aside>
                        <div class="empty-sm-70 empty-xs-30"></div>
                        <div class="text-center color-type-2">

                            <div class="empty-sm-20 empty-xs-10"></div>
                            <ul class="list-style-1 ul-list">
                                <li><div class="flex-wrap"><span>Monday  -  Friday</span><i></i><b>09:00 - 23:00</b></div></li>
                                <li><div class="flex-wrap"><span>Saturday</span><i></i><b>11:00 - 01:00</b></div></li>
                                <li><div class="flex-wrap"><span>Sunday</span><i></i><b>12:00 - 23:00</b></div></li>
                            </ul>
                        </div>
                    </aside>
                    <aside>
                        <div class="empty-sm-70 empty-xs-30"></div>
                        <div class="text-center color-type-2">
                            <h4 class="h4 tt color-type-1">follow us</h4>
                            <div class="empty-sm-25 empty-xs-20"></div>
                            <div class="follow follow-style-1 sm">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 155.139 155.139" style="enable-background:new 0 0 155.139 155.139;" xml:space="preserve" width="16px" height="16px"><g>
                      <path id="f_1_" d="M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184   c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452   v20.341H37.29v27.585h23.814v70.761H89.584z" fill="#FFFFFF"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
                                </a>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve" width="16px" height="16px">
                    <g id="XMLID_826_">
                      <path id="XMLID_827_" d="M302.973,57.388c-4.87,2.16-9.877,3.983-14.993,5.463c6.057-6.85,10.675-14.91,13.494-23.73   c0.632-1.977-0.023-4.141-1.648-5.434c-1.623-1.294-3.878-1.449-5.665-0.39c-10.865,6.444-22.587,11.075-34.878,13.783   c-12.381-12.098-29.197-18.983-46.581-18.983c-36.695,0-66.549,29.853-66.549,66.547c0,2.89,0.183,5.764,0.545,8.598   C101.163,99.244,58.83,76.863,29.76,41.204c-1.036-1.271-2.632-1.956-4.266-1.825c-1.635,0.128-3.104,1.05-3.93,2.467   c-5.896,10.117-9.013,21.688-9.013,33.461c0,16.035,5.725,31.249,15.838,43.137c-3.075-1.065-6.059-2.396-8.907-3.977   c-1.529-0.851-3.395-0.838-4.914,0.033c-1.52,0.871-2.473,2.473-2.513,4.224c-0.007,0.295-0.007,0.59-0.007,0.889   c0,23.935,12.882,45.484,32.577,57.229c-1.692-0.169-3.383-0.414-5.063-0.735c-1.732-0.331-3.513,0.276-4.681,1.597   c-1.17,1.32-1.557,3.16-1.018,4.84c7.29,22.76,26.059,39.501,48.749,44.605c-18.819,11.787-40.34,17.961-62.932,17.961   c-4.714,0-9.455-0.277-14.095-0.826c-2.305-0.274-4.509,1.087-5.294,3.279c-0.785,2.193,0.047,4.638,2.008,5.895   c29.023,18.609,62.582,28.445,97.047,28.445c67.754,0,110.139-31.95,133.764-58.753c29.46-33.421,46.356-77.658,46.356-121.367   c0-1.826-0.028-3.67-0.084-5.508c11.623-8.757,21.63-19.355,29.773-31.536c1.237-1.85,1.103-4.295-0.33-5.998   C307.394,57.037,305.009,56.486,302.973,57.388z" fill="#FFFFFF"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                </a>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 604.35 604.35" style="enable-background:new 0 0 604.35 604.35;" xml:space="preserve">
                      <g><g id="google-plus"><path d="M516.375,255v-76.5h-51V255h-76.5v51h76.5v76.5h51V306h76.5v-51H516.375z M320.025,341.7l-28.051-20.4    c-10.2-7.649-20.399-17.85-20.399-35.7s12.75-33.15,25.5-40.8c33.15-25.5,66.3-53.55,66.3-109.65c0-53.55-33.15-84.15-51-99.45    h43.35l30.6-35.7h-158.1c-112.2,0-168.3,71.4-168.3,147.9c0,58.65,45.9,122.4,127.5,122.4h20.4c-2.55,7.65-10.2,20.4-10.2,33.15    c0,25.5,10.2,35.7,22.95,51c-35.7,2.55-102,10.2-150.45,40.8c-45.9,28.05-58.65,66.3-58.65,94.35    c0,58.65,53.55,114.75,168.3,114.75c137.7,0,204.001-76.5,204.001-150.449C383.775,400.35,355.725,372.3,320.025,341.7z     M126.225,109.65c0-56.1,33.15-81.6,68.85-81.6c66.3,0,102,89.25,102,140.25c0,66.3-53.55,79.05-73.95,79.05    C159.375,247.35,126.225,168.3,126.225,109.65z M218.024,568.65c-84.15,0-137.7-38.25-137.7-94.351c0-56.1,51-73.95,66.3-81.6    c33.15-10.2,76.5-12.75,84.15-12.75s12.75,0,17.85,0c61.2,43.35,86.7,61.2,86.7,102C335.324,530.4,286.875,568.65,218.024,568.65z    " fill="#FFFFFF"></path>
                      </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
                                </a>
                                <a href="#">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 169.063 169.063;" xml:space="preserve"><g><path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752
                      c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407
                      c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752
                      c17.455,0,31.656,14.201,31.656,31.655V122.407z"/>
                      <path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561
                      C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561
                      c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"/>
                      <path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78
                      c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78
                      C135.661,29.421,132.821,28.251,129.921,28.251z"/>
                      </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
                                </a>
                            </div>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="empty-lg-120 empty-md-100 empty-sm-60 empty-xs-60"></div>
        <div class="container">
            <div class="row">
                <div class="text-center color-type-2">
                    <h4 class="h4 tt color-type-1">THAM GIA VỚI CHÚNG TÔI TRÊN INSTAGRAM</h4>
                </div>
                <div class="empty-sm-25 empty-xs-20"></div>
                <div class="col-md-12 col-xs-12">
                    <div class="contact-instagram no-padd no-padd-sm">
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <a href="#"><img src="img/contacts/insta-1.jpg" alt="" class="full-img"></a>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <a href="#"><img src="img/contacts/insta-2.jpg" alt="" class="full-img"></a>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <a href="#"><img src="img/contacts/insta-3.jpg" alt="" class="full-img"></a>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <a href="#"><img src="img/contacts/insta-4.jpg" alt="" class="full-img"></a>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <a href="#"><img src="img/contacts/insta-5.jpg" alt="" class="full-img"></a>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <a href="#"><img src="img/contacts/insta-6.jpg" alt="" class="full-img"></a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-sm-25 empty-xs-20"></div>
                    <div class="text-center">
                        <div class="follow follow-style-1 sm">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 169.063 169.063;" xml:space="preserve">
                    <g><path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752   c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407   c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752   c17.455,0,31.656,14.201,31.656,31.655V122.407z" fill="#FFFFFF"></path><path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561   C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561   c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z" fill="#FFFFFF"></path><path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78   c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78   C135.661,29.421,132.821,28.251,129.921,28.251z" fill="#FFFFFF"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                            </a>
                        </div>
                        <div class="caption-inst">
                            <h6>Follow us:</h6>
                            <a href="#"><span>#pizzone</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-lg-120 empty-md-100 empty-sm-60 empty-xs-60"></div>
    </section>



