
<section class="section">
    <div class="empty-lg-115 empty-md-100 empty-sm-60 empty-xs-60"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="main-caption text-center color-type-2">
                    <h2 class="h2 title">Verify email</h2>
                    <div class="empty-sm-30"></div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="simple-text md">
                            <p>Vui lòng nhập mã xác thực đã được gửi đến email của bạn</p>
                        </div>

                        <!-- thông báo lỗi -->
                        <div class="simple-text md">
                            <p style="color: red;">Mã xác thực không đúng.</p>
                        </div>

                    </div>
                    <div class="empty-sm-55 empty-xs-25"></div>
                    <form action="/user/change-password" method="post" id="change-password-form">
                        <div class="col-md-12">
                            <div class="input-field-icon">
                                <input type="text" class="input-field" placeholder="Verify code*" name="oldPassword" id="old-password" required="">
                                <div class="icon">
                                    <i class="fa fa-bars"></i>
                                </div>
                            </div>
                            <div class="empty-sm-20  empty-xs-20"></div>
                        </div>

                        <div class="empty-sm-30  empty-xs-20"></div>

                        <div class="row">
                            <a href="/order" class="button size-2 style-2" style="margin-right: 30px">
                            <span class="button-wrapper">
                                <span class="icon"><img src="img/icon-4.png" alt=""></span>
                                <span class="text">resend</span>
                            </span>
                            </a>


                            <a href="/recover-password" class="button size-2 style-3">
                            <span class="button-wrapper">
                                <span class="icon"><img src="img/icon-4.png" alt=""></span>
                                <span class="text">Next</span>
                            </span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="empty-lg-100 empty-md-100 empty-sm-60 empty-xs-60"></div>
    </div>
</section>
</div>